<div class="productos" data-aos="zoom-in" data-aos-delay="300">
    <div *ngFor="let pancho of panchos_promo_5_6_eco" class="producto">
       <div class="imagen"><img [src]="pancho.imagen" alt=""></div>
       <!-- cuando consumo la api -->
       <div *ngIf="pancho.precio!='0'" class="valor">${{ pancho.precio | number : '1.0-2'}}</div>
       <div *ngIf="pancho.precio=='0'" class="valor-sin-precio">Consultar $</div> 
       <!-- <div *ngIf="pancho.precio" class="valor ">{{ pancho.precio }} </div> -->
       <div class="marca"><img [src]="pancho.marca"></div>       
       <div class="consulta "> <a href="{{ pancho.consulta }}" target="_blank"><i class="fab fa-whatsapp"></i> Consultar!</a></div>
       <div class="nombre">{{ pancho.nombre }}</div>
       <div class="texto ">
          <span class="descripcion-promo">
            <strong>
                {{ pancho.texto1 + ' + ' }}
            <br>
                {{ pancho.texto2 + ' + '}}            
            <br>            
                {{ pancho.texto3 }}
            </strong>
        </span>
       </div>
       <div class="nombre-detalle">{{ pancho.texto4 }}</div>
    </div>
 </div>
 <div class="productos" data-aos="zoom-in" data-aos-delay="300">
    <div *ngFor="let pancho of panchos_promo_5_6" class="producto">
       <div class="imagen"><img [src]="pancho.imagen" alt=""></div>
       <!-- cuando consumo la api -->
       <div *ngIf="pancho.precio!='0'" class="valor">${{ pancho.precio | number : '1.0-2'}}</div>
       <div *ngIf="pancho.precio=='0'" class="valor-sin-precio">Consultar $</div> 
       <!-- <div *ngIf="pancho.precio" class="valor ">{{ pancho.precio }} </div> -->
       <div class="marca"><img [src]="pancho.marca"></div>
       <div class="consulta "> <a href="{{ pancho.consulta }}" target="_blank"><i class="fab fa-whatsapp"></i> Consultar!</a></div>
       <div class="nombre">{{ pancho.nombre }}</div>
       <div class="texto ">
          <span class="descripcion-promo">
            <strong>
                {{ pancho.texto1 + ' + ' }}
            <br>
                {{ pancho.texto2 + ' + '}}            
            <br>            
                {{ pancho.texto3 }}
            </strong>
        </span>
       </div>
       <div class="nombre-detalle">{{ pancho.texto4 }}</div>
    </div>
 </div>
 <div class="productos" data-aos="zoom-in" data-aos-delay="300">
    <div *ngFor="let pancho of panchos_ug" class="producto">
       <div class="imagen"><img [src]="pancho.imagen" alt=""></div>
       <!-- cuando consumo la api -->
       <div *ngIf="pancho.precio!='0'" class="valor">${{ pancho.precio | number : '1.0-2'}}</div>
       <div *ngIf="pancho.precio=='0'" class="valor-sin-precio">Consultar $</div> 
       <!-- <div *ngIf="pancho.precio" class="valor ">{{ pancho.precio }} </div> -->
       <div class="marcas-panchos">
          <div class="marca"><img [src]="pancho.marca"></div>
          <div class="marca"><img [src]="pancho.marca1"></div>
       </div>
       <div class="consulta "> <a href="{{ pancho.consulta }}" target="_blank"><i class="fab fa-whatsapp"></i> Consultar!</a></div>
       <div class="nombre">{{ pancho.nombre }}</div>
       <div class="texto ">
          <span class="descripcion-promo">
            <strong>
                {{ pancho.texto1 + ' + ' }}
            <br>
                {{ pancho.texto2 + ' + '}}            
            <br>            
                {{ pancho.texto3 }}
            </strong>
        </span>
       </div>
       <div class="nombre-detalle">{{ pancho.texto4 }}</div>
    </div>
 </div>
 <div class="productos" data-aos="zoom-in" data-aos-delay="300">
    <div *ngFor="let pancho of panchos_swift" class="producto">
       <div class="imagen"><img [src]="pancho.imagen" alt=""></div>
       <!-- cuando consumo la api -->
       <div *ngIf="pancho.precio!='0'" class="valor">${{ pancho.precio | number : '1.0-2'}}</div>
       <div *ngIf="pancho.precio=='0'" class="valor-sin-precio">Consultar $</div> 
       <!-- <div *ngIf="pancho.precio" class="valor ">{{ pancho.precio }} </div> -->       
       <div class="marcas-panchos">
         <div class="marca"><img [src]="pancho.marca"></div>
         <div class="marca"><img [src]="pancho.marca1"></div>
       </div>
       <div class="consulta "> <a href="{{ pancho.consulta }}" target="_blank"><i class="fab fa-whatsapp"></i> Consultar!</a></div>
       <div class="nombre">{{ pancho.nombre }}</div>
       <div class="texto ">
          <span class="descripcion-promo">
            <strong>
                {{ pancho.texto1 + ' + ' }}
            <br>
                {{ pancho.texto2 + ' + '}}            
            <br>            
                {{ pancho.texto3 }}
            </strong>
        </span>
       </div>
       <div class="nombre-detalle">{{ pancho.texto4 }}</div>
    </div>
 </div>