<!-- <div class="contenido-centrado">
    <div class="desktop-only">
        <img src="./assets/encontruccion.png" alt="" height="500" width="500">
    </div>
    <div class="mobile-only">
        <img src="./assets/encontruccion.png" alt="" height="400" width="400">
    </div>    
</div> -->

<div class="contenido-centrado">
    <div class="desktop-only" data-aos="zoom-in" data-aos-delay="300">
        <div class="contenedor-img-locales">            
            <div class="image-container" (click)="SeleccionarLocal(1)">
                <img id="img-local" src="./assets/locales/chingolo.jpeg" alt="" >
                <div class="image-text">Eva peron 3495, Lanús</div>
            </div>
            <div class="image-container" (click)="SeleccionarLocal(2)">
                <img id="img-local" src="./assets/locales/lomas.jpeg" alt="" >
                <div class="image-text">Colombres 1798, Lomas de Zamora</div>
            </div>
            <div class="image-container" (click)="SeleccionarLocal(3)">
                <img id="img-local" src="./assets/locales/glew.jpeg" alt="" >
                <div class="image-text">Sarmiento 2, Glew Almirante Brown</div>
            </div>
            <div class="image-container" (click)="SeleccionarLocal(4)">
                <img id="img-local" src="./assets/locales/guernica.jpeg" alt="" >
                <div class="image-text">Calle 4 352, Guernica Presidente Perón</div>
            </div>
        </div>
    </div>

    <div class="mobile-only" data-aos="zoom-in" data-aos-delay="300">
        <div class="contenedor-img-locales">                                                  
            <div class="image-container" (click)="SeleccionarLocal(1)">
                <img src="./assets/locales/chingolo.jpeg" alt="" style="border-radius: 10%;width: 300px; height: 300px;">
                <div class="image-text-mobile">Eva peron 3495, Lanús</div>
            </div> 
            <div class="image-container" (click)="SeleccionarLocal(2)">
                <img src="./assets/locales/lomas.jpeg" alt="" style="border-radius: 10%;width: 300px; height: 300px;">
                <div class="image-text-mobile">Colombres 1798, Lomas de Zamora</div>
            </div> 
            <div class="image-container" (click)="SeleccionarLocal(3)">
                <img src="./assets/locales/glew.jpeg" alt="" style="border-radius: 10%;width: 300px; height: 300px;">
                <div class="image-text-mobile">Sarmiento 2, Glew Almirante Brown</div>
            </div> 
            <div class="image-container" (click)="SeleccionarLocal(4)">
                <img src="./assets/locales/guernica.jpeg" alt="" style="border-radius: 10%;width: 300px; height: 300px;">
                <div class="image-text-mobile">Calle 4 352, Guernica Presidente Perón</div>
            </div> 
        </div>   
    </div> 
</div>