<!-- <div class="contenido-centrado">
    <div class="desktop-only">
        <img src="./assets/encontruccion.png" alt="" height="500" width="500">
    </div>
    <div class="mobile-only">
        <img src="./assets/encontruccion.png" alt="" height="400" width="400">
    </div>    
</div> -->

<div class="productos" data-aos="zoom-in" data-aos-delay="300">
    <div *ngFor="let promo of promosCumple; let i = index" class="producto">
       <div class="imagen-promo"><img [src]="promo.imagen" alt=""></div>
       <!-- cuando consumo la api -->
       <div class="valor-promo">${{ promo.precio | number : '1.0-2'}} </div>
       <div *ngIf="promo.precio!='0'" class="valor-promo">${{ promo.precio | number : '1.0-2'}}</div>
       <div *ngIf="promo.precio=='0'" class="valor-sin-precio">Consultar $</div> 
       <!-- <div *ngIf="medallon.precio" class="valor ">{{ medallon.precio }} </div> -->
       <div class="marcas-panchos">
           <div class="marca-promo"><img [src]="promo.marca"></div>
           <div class="marca-promo"><img [src]="promo.marca1"></div>
       </div>       
       <div class="consulta "> <a href="https://api.whatsapp.com/send?phone=5491162040532&amp;text={{ promo.consulta }}" target="_blank"><i class="fab fa-whatsapp"></i> Consultar!</a></div>
       <div class="nombre">{{ promo.nombre }}</div>
       <div class="texto ">
          <span class="descripcion-promo">
            <strong>
                {{ promo.texto1 + ' + ' }}
            <br>
                {{ promo.texto2 + ' + '}}            
            <br>            
                {{ promo.texto3 }}
            </strong>
        </span>
       </div>
       <div class="nombre-detalle">{{ promo.texto4 }}</div>

       <!-- <ng-container *ngIf="i % 3 === 0">
        </ng-container> -->
    </div>
 </div>