<div class="productos" data-aos="zoom-in" data-aos-delay="300">
    <div *ngFor="let bebida of bebidas" class="producto">
       <div class="imagen"><img [src]="bebida.imagen" alt=""></div>       
       <!-- cuando consumo la api -->
       <div *ngIf="bebida.precio!='0'" class="valor">${{ bebida.precio | number : '1.0-2'}}</div>
       <div *ngIf="bebida.precio=='0'" class="valor-sin-precio">Consultar $</div>
       <!-- <div class="valor ">{{ oferta.precio }} </div> -->
       <div class="marca"><img [src]="bebida.marca"></div>
       <div class="consulta "> <a href="{{ bebida.consulta }}" target="_blank"><i class="fab fa-whatsapp"></i> Consultar!</a></div>
       <div class="nombre">{{ bebida.nombre }}</div>
       <div class="texto ">
            <span class="descripcion-promo">
              <strong>
                <ng-container *ngIf="bebida.texto1!=''">
                     {{ bebida.texto1 }}            
                 </ng-container>

              <ng-container *ngIf="bebida.texto2!=''">
                 <br>
                  {{ bebida.texto2 }}            
              </ng-container>

              <ng-container *ngIf="bebida.texto3!=''">
                 <br>
                  {{ bebida.texto3 }}            
              </ng-container>
              </strong>
            </span>
            <div *ngIf="bebida.texto4!=''" class="nombre-detalle">{{ bebida.texto4 }}</div>
        </div>
    </div>
</div>