<section class="marcas">
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/ranchoalto.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/laconquista.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/swift.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/unionganadera.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/paty.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/cocacola.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/manaos.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/crush.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/benidorm.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/helmans.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/danica.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/leq.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/pehuamar.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/la_defensa.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/ladelfina.png"></article>         
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/boogys.png"></article>    
    <article class="marca aos-init" data-aos="zoom-in" style="width: 150px;"><img src="./assets/placer.png"></article>  
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/aguaaruba.png"></article>      
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/ledevit.png"></article>    
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/yeyo.png"></article>        
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/panigazzi.png"></article>    
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/blacklabel.png"></article>         
    
    <!-- <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/1563646744delosan.png"></article>                  
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/1623349696bamlife.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/1623349769chil.png"></article>    
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/1623349793fargo.png"></article>        
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/1623349993logomilagro.png"></article>       
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/1623945211WhatsApp Image 2021-06-17 at 12.50.35.jpeg"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/1623951714logo-mc-cain-300x175.jpg"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/1623951918logo krachitos.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/1623952010Logo_Milkaut.png"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/162395209915742467303980.jpg"></article>
    <article class="marca aos-init" data-aos="zoom-in"><img src="./assets/1624508310WhatsApp Image 2021-06-24 at 01.17.04.jpeg"></article> -->
    
 </section>